ul {
  list-style: none;
  margin-left: 0px;
  padding-left: 0px;
}

.list-group-item {
    padding: 4px;
    cursor: pointer;
    margin-left: 0px;
    padding-left: 0px;
}

ul li:hover {
  background-color: white;
}

h4 {
  margin-top: 7px;
  margin-bottom: 7px;
  margin-left: 0px;
}

.left-0 {
  margin-left: 0px;
  padding-left: 0px;
}
